{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
background-color: #00f7ffde;


}
header {
display: flex
justify-content: space-between;
align-items: center;
padding: 30px 40px;
background-color: #fff;
box-shadow: 0 2px 5px rgba(0, 0,0, 0, 0,.1);
}